
<p>The purpose of this app is to learn the OAuth 2.0 authorization for Oregon State University CS493 Cloud Application
    Development class.  The program will extract the First Name, Last Name and URL to Google+ address.</p>
<p>Given Name: {{this.givenName}}</p>
<p>Family Name: {{this.familyName}}</p>
<p>URL: {{url}}</p>
<p>State: {{state}}</p>