<!-- Main.handlbars -->
<!doctype html>
<html>
<head>
    <title>OAuth 2.0 Implementation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div>
    <img src="logo.jpg" alt="OSU logo" class="image">
</div>

{{{body}}}

</body>
</html>
